@charset "utf-8";
// setting
@import "setting";
@import "mixin";
.flor01-template-10 {
    //background: url('../images/t-09/bg-09.png') no-repeat center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    z-index: 10;
    padding-top: 200px;
    padding-bottom: 200px;
    color: #fff;
    width: 100%;
    overflow: hidden;
    position: relative;
    @include md {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    @include xs_lg {
        padding-top: 0;
        padding-bottom: 100vw;
    }
    @include lg {
        background-size: auto 100%;
        background-position: right center;
        padding-top: 0;
        padding-bottom: 0;
    }
    @extend %TITLE;
    .bg_text {
        content: "";
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        //background-image: url('../images/t-10/bg-repeat.png') repeat;
        position: absolute;
        z-index: 2;
        left: 0;
        width: 55%;
        height: 100%;
        top: 0;
        @include xs_lg {
            display: none;
        }
        @include xl {
            width: 40%;
        }
        @include xxl {
            width: 37%;
        }
    }
    .fz-tw-B {
        margin-bottom: 1em;
        color: $color-light;
    }
    .fz-tw-A {
        line-height: 1.375em;
        margin-bottom: 2em;
        @include xs_sm {
            border-bottom: 1px solid $color-border;
            margin-bottom: 1em;
            padding-bottom: 1em;
        }
    }
    .desc {
        color: #9d9c9c;
        display: block;
        height: 4em;
        font-family: $text-family;
    }
    .text {
        //border: 1px solid yellow;
        @include xs_lg {
            padding-bottom: 80px
        }
        @include md {
            max-width: 400px;
            width: 50%;
        }
        @include lg {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            min-height: 640px;
        }
        @include xxl {
            min-height: 700px;
            max-width: 460px;
        }
        @include xxxl {
            min-height: 800px;
        }
    }
    .container {
        position: relative;
        z-index: 5;
        @include xs_lg {
            background: url('../images/t-10/bg-repeat.png') repeat;
            padding-top: 5vw;
            >div {
                display: flex;
                flex-direction: column-reverse;
            }
        }
        >div {
            position: relative;
        }
    }
    .big-text {
        font-family: $font-family-en;
        width: 100%;
        @include xs_sm {
            margin-bottom: 30px;
        }
        @include xs_md {
            margin-top: 30px;
        }
        @include lg {
            &:before {
                content: "";
                display: block;
                width: 85%;
                border-bottom: 1px solid #9d9c9c;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            right: 0;
            top: 64%;
            transform: translateY(-50%);
        }
        @include lg {
            top: 55%;
        }
        @include xl {
            top: 57%;
        }
        @include xxl {
            &:before {
                width: 88%;
            }
        }
        @include xxxl {
            &:before {
                width: 83%;
            }
        }
        strong {
            display: block;
            color: #fff;
            line-height: .9em;
            font-size: 36px;
            font-weight: normal;
            @include xxxl {
                font-size: 72px;
            }
        }
        display: block;
    }
    .bg {
        position: absolute;
        z-index: 1;
        left: 0;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        height: 130%;
        top: -30%;
        @include xs_lg {
            background-position: center top;
            top: auto;
            bottom: 0;
            height: 150vw;
        }
        @include lg {
            background-size: auto 100%;
            background-position: right center;
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}