.about {
    .section {
        border-bottom: 1px solid #f0f0f0;
        padding-top: 40px;
        padding-bottom: 40px;
        color: #6a6a6a;
        @include xs_lg {
            &:last-of-type {
                border-bottom: none;
            }
        }
        @include xl {
            padding-top: 60px;
            padding-bottom: 60px;
        }
        @include xxxl {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        >.fz-B {
            color: #303030;
            @include xs_lg {
                line-height: 1.5em;
            }
            @include xxl {
                margin-bottom: 40px;
            }
            @include xxxl {
                margin-bottom: 65px;
            }
        }
        .text {
            &.short {
                @include md {
                    width: 60%;
                    padding-right: 50px;
                }
                @include xxxl {
                    padding-right: 100px;
                }
            }
        }
        strong {
            display: inline-block;
            padding-bottom: 1em;
            color: #515151;
        }
    }
}

.edit-row {
    @include lg {
        display: flex;
        align-self: flex-start;
    }
    .deco-text {
        color: $color-main;
        font-weight: bold;
        font-size: 1.875rem;
        line-height: 1em;
        margin-right: 5px;
    }
    .title-area {
        @include xs_lg {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #c6c6c6;
            padding-bottom: 0.5em;
            margin-bottom: 0.75em;
            .fz-en-A {
                font-size: 1.125rem;
                line-height: 1.125em;
            }
            .deco-text {
                font-size: 1.25rem;
                line-height: 1.125em;
            }
        }
        @include md_lg {
            .fz-en-A {
                font-size: 1.25rem;
            }
            .deco-text {
                font-size: 1.375rem;
            }
        }
        @include lg {
            width: 24.5%;
            padding: 0;
            text-align: left;
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            margin-top: 36px;
            .deco-text {
                margin-top: 5px;
            }
        }
        @include xl {
            margin-top: 56px;
        }
        @include xxl {
            width: 23%;
        }
        @include xxxl {
            margin-top: 96px;
            width: 22%;
        }
    }
    .content-area {
        @include lg {
            width: 75.5%;
        }
        @include xxl {
            width: 77%;
        }
        @include xxxl {
            width: 78%;
        }
    }
}

.award {
    .content {
        width: 100%;
        max-width: 60%;
        margin: 50px auto;
        text-align: center;
        @include xxl {
            margin: 50px auto 0;
        }
    }
    .img-100 {
        img {
            max-width: 150px;
            margin: 0 auto;
        }
    }
    .page-award {
        @include xs_md {
            text-align: center;
            width: 100%;
        }
        @include md {
            position: absolute;
            right: 0;
            top: 40px;
            left: auto;
            bottom: auto;
            width: auto;
        }
        @include xl {
            top: 50px;
        }
        @include xxl {
            top: 60px;
        }
        @include xxxl {
            top: 100px;
        }
    }
}

.edit-block {
    //border: 1px solid salmon;
    position: relative;
    img {
        line-height: 0;
        margin: 0;
        display: block;
        height: auto;
        width: 100%;
        @include xs_md {
            margin-bottom: 20px;
        }
        @include lg {
            width: 125%;
        }
    }
    .text {
        background-color: #fff;
        @include md {
            position: absolute;
            padding: 30px 50px 0 0;
            bottom: 0;
            left: 0;
        }
        @include xxxl {
            padding: 60px 100px 0 0;
        }
    }
}

.about-icon {
    @include xxl {
        p {
            padding-right: 20%;
        }
    }
}

.icon-slide {
    img {
        transition: all .35s ease;
        filter: grayscale(100%) brightness(180%);
    }
    .swiper-slide-thumb-active {
        img {
            filter: none;
        }
    }
    @include xs_md {
        padding-top: 30px;
        padding-bottom: 30px;
        .swiper-slide {
            text-align: center;
            font-weight: bold;
            img {
                max-width: 96px;
                margin: 0 auto;
            }
        }
        .swiper-button-disabled {
            opacity: 0.5;
        }
    }
    @include md {
        border-bottom: 1px solid #c6c5c5;
        padding-top: 60px;
        .ics-prev,
        .ics-prev {
            display: none !important;
        }
        .swiper-wrapper {
            display: flex;
            justify-content: space-between;
        }
        .swiper-slide {
            max-width: 100px;
            text-align: center;
            padding: 20px 0 30px;
            position: relative;
            //border: 2px solid #000;
            cursor: pointer;
            font-weight: bold;
            color: #bdc3c7;
            h6 {
                line-height: 1.5em;
            }
            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 5px;
                background-color: transparent;
                position: absolute;
                bottom: 0;
                transition: all .3s ease;
                transform: scaleX(0);
                background-color: #ccc;
            }
            &:hover {
                &:after {
                    transform: scaleX(1);
                }
            }
            &.swiper-slide-thumb-active {
                color: $color-dark;
                &:after {
                    transform: scaleX(1);
                    background-color: $color-main;
                }
            }
        }
    }
    @include xxxl {
        padding-top: 80px;
    }
}

.icon-content-slide {
    @include md {
        padding-top: 100px;
    }
}