.sub-nav {
    background: $color-main url('../images/layout/bg-sub-nav.png') no-repeat left bottom;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all .4s ease;
    display: flex;
    align-items: center;
    background-size: cover;
    @include xs_xl {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow-y: auto;
        display: block;
    }
}

.menu-second,
.menu-third {
    @include xl {
        min-width: 240px;
        display: flex;
        flex-direction: column;
    }
    @include xxxl {
        min-width: 300px;
    }
}

.menu-second {
    @include xs_xl {
        padding: $gutter*2 $gutter;
        position: static;
        width: 100%;
        transform: translateY(30px);
        transition: all .35s ease;
    }
    a {
        position: relative;
        @include xs_xl {
            font-size: 1.125rem;
            display: block;
            height: 60px;
            line-height: 60px;
            padding: 0;
            font-weight: bold;
            width: 100%;
            border-bottom: 1px solid rgba(#000, 0.1);
            &:last-of-type {
                border-bottom: none;
            }
        }
        @include h_limit {
            height: 40px;
            line-height: 40px;
        }
        @include h_600 {
            font-size: 1.125rem;
            display: block;
            height: 40px;
            line-height: 40px;
            padding: 0 20px;
            font-weight: bold;
            &.active {
                &:after {
                    background-color: #fff;
                }
            }
            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 3px;
                background-color: transparent;
                transition: all .3s ease;
                position: absolute;
                bottom: 0;
                width: calc(100% - 40px);
                //left: 0;
            }
            &:hover {
                &:after {
                    background-color: #fff;
                }
            }
        }
        @include h_800 {
            font-size: 1.25rem;
            height: 45px;
            line-height: 45px;
        }
        @include h_900 {
            font-size: 1.375rem;
            height: 60px;
            line-height: 60px;
            padding: 0 35px;
            &:after {
                width: calc(100% - 70px);
                //left: 0;
            }
        }
    }
}

.menu-third {
    display: none;
    @include xs_xl {
        display: block;
        max-height: 300px;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        transition: all .3s ease;
        //background-color: sandybrown;
        padding: $gutter*2 $gutter;
        pointer-events: none;
        position: absolute;
        overflow: hidden;
        top: 0;
        >div {
            transform: translateY(30px);
            transition: all .35s ease;
        }
        &.active {
            max-height: none;
            position: static;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            >div {
                transform: translateY(0);
            }
        }
    }
    @include xl {
        padding-right: 30px;
        border-left: 1px solid rgba(#333, 0.1);
        transition: all .2s ease;
    }
    @include xxxl {
        padding-right: 40px;
    }
    >div {
        @include xl {
            display: flex;
            align-items: flex-start;
        }
    }
    &.active {
        display: block;
    }
    ul {
        display: block;
    }
    li {
        display: block;
        padding-bottom: 20px;
        @include xs_xl {
            border-bottom: 1px solid rgba(#333, 0.1);
        }
        @include xl {
            &:last-of-type {
                padding-bottom: 0;
            }
        }
        @include h_600 {
            padding-bottom: 40px;
            &:last-of-type {
                padding-bottom: 0;
            }
        }
        @include xl {
            padding-left: 30px;
            &:last-of-type {
                padding-bottom: 0;
            }
        }
        @include xxxl {
            padding-left: 40px;
            &:last-of-type {
                padding-bottom: 0;
            }
        }
    }
    a {
        display: block;
        color: #000;
        opacity: 0.6;
        transition: all .15s ease;
        @include xs_xl {
            line-height: 35px;
        }
        &.title-cat {
            font-weight: bold;
            opacity: 0.9;
        }
        &:hover,
        &:active {
            opacity: 1;
        }
    }
}