.search-bar {
    width: 100%;
    position: relative;
    margin: 0 0 5px 0;
    @include sm {
        max-width: 320px;
    }
    input,
    input[type='search'] {
        font-size: 1rem;
        line-height: 45px;
        border: none !important;
        border-bottom: 1px solid #e9e9e9 !important;
        font-family: $font-family;
        width: 100%;
        &:focus {
            border: none !important;
            box-shadow: none !important;
            border-bottom: 1px solid $color-main !important;
        }
        @include md {
            font-size: 1.25rem;
        }
        @include xxl {
            font-size: 1.375rem;
            line-height: 50px;
        }
        @include xxxl {
            font-size: 1.5rem;
            line-height: 55px;
        }
    }
    button {
        position: absolute;
        width: 50px;
        height: 100%;
        right: 0;
        border: none;
        outline: none;
        box-shadow: none;
        cursor: pointer;
        background: url('../images/layout/icon-search.svg') no-repeat center center;
        background-size: auto 40%;
        font-size: 0;
    }
}

.search-area {
    margin-bottom: 70px;
    strong {
        color: $color-main;
    }
    .count {
        font-weight: bold;
    }
    @include md {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .text {
            margin-left: 2em;
        }
    }
    @include xxl {
        margin-bottom: 80px;
    }
    @include xxxl {
        margin-bottom: 100px;
    }
}

.result {
    .series {
        padding-bottom: 50px;
        @include md {
            padding-bottom: 70px;
        }
        .fz-B {
            border-bottom: 1px solid #c6c5c5;
            padding-bottom: 0.5em;
        }
        .category {
            @include md {
                padding: 0 30px;
            }
        }
    }
}