@charset "utf-8";
// setting
@import "setting";
@import "mixin";
.home01-template-09{
    display: flex;
    // border: 1px solid #f7f7f7;
    background-size: cover;
    background-position: center;
    background-size: 0;
    .img_mobile{
        display: none;
    }
    .left{
        width: 41.09375vw;
        h3{
             
            font-weight: bold;
            letter-spacing: 1.8px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            line-height: 1.2;
            color: #9c7456;
        }
        .content{
            font-weight: bold;
            letter-spacing: 1px;
            line-height: 1.08;
            color: #313131;
            font-family: CHei3HK;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
        }
        .line{
            width: 42px;
            height: 6px;
            background-color: #fb4;
            margin-bottom: 34px;
            transition: 0.6s ease;
            &:hover{
                width: 82px;
                transition: 0.6s ease;
            }
        }
        p{
            font-weight: normal;
            letter-spacing: 0.16px;
            color: #313131;
            line-height: 1.56;
             
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 4;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            
        }
        .direction{
            display: flex;
            align-items: center;
            height: auto;

            span{
                font-weight: normal;
                letter-spacing: 1.08px;
                color: #444;
                height: 80%;
                font-family: SegoeUIHistoric;
                transition: 0.6s ease;
            }
            div{
                width: 15px;
                height: 1px;
                background-color: #444444;
                position: relative;
                margin-left: 20px;
                &::after{
                    content: '';
                    position: absolute;
                    transform: rotate(45deg);
                    width: 11px;
                    height: 11px;
                    border-top: 1px solid #444444;
                    border-right: 1px solid #444444;
                    top: -5px;
                    left: 3px;
                    transition: 0.6s ease;
                }
            }
            &:hover{
                span{
                    transition: 0.6s ease;

                    letter-spacing: 2px;
                }
                div{
                    &::after{
                    transition: 0.6s ease;

                        left: 5px;
                    }
                }
            }
        }
    }
    .right{
        width:58.85416vw;
        height: 100%;

        img{
            height: 100%;
            vertical-align: middle;
        }
    }
    @include xs_md{
        display: flex;
        flex-direction: column;
        background-size: 0;
        position: relative;
        .img_mobile{
            display: block;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            
        }
        .left{
            width: 100%;
            padding: 6.5vw 6.511vw 6.5vw 6.511vw;
            order: 2;
            z-index: 1;
            h3{
                font-size: calc(36/740*100vw);
                margin-bottom: 3.85416vw;
            }
            .content{
                font-size: calc(65/740*100vw);
                margin-bottom: 2.55208vw;
            }
            .line{
                margin-bottom: 1.77vw;
            }
            p{
                font-size: 14px;
                margin-bottom: 4.5729vw;
                br{
                    display: none;
                }
                
            }
            .direction{
                span{
                    font-size: 18px;
                    margin-right: 10px;
                }
                div{
                    margin-left: 1.0416vw;
                    &::after{
                        width: 9px;
                        height: 9px;
                        top: -4.5px;
                    }
                }
            }
        }
        .right{
            width:100%;
            z-index: 1;
            img{
                width: 100%;
                vertical-align: middle;
            }
        }
    }
    @include md_xl{
        display: flex;
        .left{
            width: 50%;
            padding: 4.5vw 2vw 4.5vw 8.5417vw;
            h3{
                font-size: calc(36/1100*100vw);
                margin-bottom: 2.85416vw;
            }
            .content{
                font-size: calc(48/1100*100vw);
                margin-bottom: 2.55208vw;
            }
            .line{
                width: 42px;
                height: 6px;
                background-color: #fb4;
                margin-bottom: 1.77vw;
            }
            p{
                font-size: 14px;
                margin-bottom: 1.5729vw;       
            }
            .direction{
                span{
                    font-size: 18px;
                }
                div{
                    margin-left: 1.0416vw;
                }
            }
        }
        .right{
            width:50%;
            height: auto;
            img{
                width: 100%;
                vertical-align: middle;
                height: 100%;
                object-fit: contain;
                object-position: center;
            }
        }
    }
    @include xl{
        display: flex;
        .left{
            padding: 1.5vw 3.5417vw 0px 6.5417vw;
            h3{
                font-size: calc(36/1920*100vw);
                margin-bottom: 3.85416vw;
            }
            .content{
                font-size: calc(65/1920*100vw);
                margin-bottom: 2.55208vw;
            }
            .line{
                margin-bottom: 1.77vw;
            }
            p{
                font-size: 16px;
                margin-bottom: 4.5729vw;
            }
            .direction{
                span{
                    font-size: 18px;
                }
                div{
                    margin-left: 1.0416vw;
                }
            }
        }
        .right{
            img{
                width: 100%;
            }
        }
    }
    @include lg-1112{
        .left{
            .direction{
                bottom: 15px;
            }
        }
    }
    @include xxl{
        height: 720px;
        .left{
            padding: 48px 130px 0px 161px;
            h3{
                margin-bottom: 74px;
            }
            .content{
                margin-bottom: 49px;
            }
            .line{
                margin-bottom: 34px;
            }
            p{
                margin-bottom: 107px;
            }
            .direction{
                span{
                    font-size: 18px;
                }
            }
        }
       
    }
    @include super{
        height: 955px;
        .left{
            .content{
                font-size: calc(65/2560*100vw);
            }
            p{
                font-size: 22px;
            }
            .direction{
                span{
                    font-size: 22px;
                }
            }
        }
    }
}